*{
color:black;
background-color: white;
/*background-color: rgb(0, 0, 88);*/
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
text-align: center;   
font-size: 15px;
}
.imgRedonda{
    width: 150px;
    height: 150px;
    border-radius:150px;
    border: 10px;
}
.Iconos{
    height: 100px;
    width: 100px;
}
article{
    text-align: center;
}
nav{
    text-align: center;
}
header ul{
    text-align: right;
    list-style-type: none; 
}
header ul li{
    display: inline;
    margin:0px 5px 0px 0px;
}
header ul li a{
padding: 5px 10px;
text-decoration: none;
}
footer ul{
    text-align: center;
    list-style-type: none;  
}
footer ul li{
    display: inline;
    margin:0px 20px 0px 0px;
}
footer ul li a{
    padding: 5px 10px;
    text-decoration: none;
}
footer ul li img{
    width: 50px;
    height: 50px;
}
blockquote{
    text-align: center;
}
/*.logo{
    width: 200px;
    height: 200px;
}*/

